<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bootstrap</title>
</head>
<body>
    <p>welcome to the text analyzer.enter your text below</p>
    <form action="/punc" method="get">
        <textarea name='texttype' style="width: 446px; height: 148px;"></textarea></br>
        <input type="checkbox" name="puke">Remove puncations</br>
        <input type="checkbox" name="fullcaps">UPPERCASE<br>
        <input type="checkbox" name="lineremover">newlineremover<br>
        <input type="checkbox" name="spaceremover">extraspaceremover<br>
        <input type="checkbox" name="countword">countingword<br>
        <button type="submit">analyze</button>
    </form>
</body>
</html>